<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="tWalk" class="testSpring.TranspotationWalk"/> <!-- 어디에 있는 클래스 가지고 id(객체)를 만들거야?  -->
	
</beans>
