<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="customer"> <!-- 구분자를 지어줌 -->
  <select id="listAll" resultType="customerVO"> <!-- 어떤 자료형으로 담을건지. 애칭을 줄 수 있음 -->
    select * from customer
    <if test="keyword != null and keyword != ''">
    	where ${searchColumn} like '%' || #{keyword} || '%'
    </if>
    <if test="sortColumn != null">
    	order by ${sortColumn}
    </if>
  </select>
  
  <select id="detail" resultType="customerVO">
  	select * from customer where custid = #{custid}
  </select>
  
  <insert id="insert" parameterType="customerVO"> <!-- parameterType은 생략해도 됨. customerVO를 받을것이라는 뜻 -->
  	insert into customer values(#{custid}, #{name}, #{address}, #{phone})
  </insert>
  
  <update id="update" parameterType="customerVO">
  	update customer set name = #{name}, address = #{address}, phone = #{phone} where custid = #{custid}
  </update>
  
  <delete id="delete">
  	delete customer where custid = #{custid}
  </delete>
  
</mapper>